
<a href="{{ path('delete_produit',{'id': produit.id}) }}" class="btn btn-danger">Supprimer</a>
<a href="{{ path('edit_produit',{'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
<a href="{{ path('show_produit',{'id': produit.id}) }}" class="btn btn-info">Consulter</a>
